@media (max-width: 1214px) {
  .body .body__giftsfor .giftsfor-items .giftsfor__item .giftsfor__img {
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 1070px) {
  .body .body__findgift .findgift__info {
    padding-left: 50px;
  }
  .body .body__findgift .findgift__info .findgift-info__title {
    margin-right: 50px;
  }
  .body .body__findgift .findgift__photo {
    height: 550px;
  }
  .body .body__howwork .howwork__photo {
    height: 450px;
  }
  .body .body__howwork .howwork__info {
    padding-left: 50px;
  }
}
@media (max-width: 1024px) {
  .body .body__findgift .findgift__info {
    padding-left: 50px;
  }
  .body .body__findgift .findgift__info .findgift-info__title {
    margin-right: 50px;
    font-size: 30px;
  }
  .body .body__findgift .findgift__info .findgift-info__subtitle {
    font-size: 15px;
  }
  .body .body__findgift .findgift__info .findgift-info__button {
    font-size: 14px;
  }
  .body .body__findgift .findgift__photo {
    height: 450px;
  }
  .body .body__howwork .howwork__photo {
    height: 400px;
  }
  .body .body__howwork .howwork__info {
    padding-left: 50px;
  }
  .body .body__howwork .howwork__info .howwork-info__title {
    font-size: 30px;
  }
  .body .body__howwork .howwork__info .howwork-info__subtitle {
    font-size: 18px;
    margin-right: 50px;
  }
  .body .body__howwork .howwork__info .howwork-info__button {
    font-size: 14px;
  }
  .body .body__bestblogs .bestblogs__mainbox .mainbox__infobox1 .infobox1__texts .infobox1__title {
    font-size: 30px;
    height: 35px;
  }
  .body .body__bestblogs .bestblogs__mainbox .mainbox__infobox1 .infobox1__texts .infobox1__name {
    font-size: 12px;
  }
  .body .body__bestblogs .bestblogs__mainbox .mainbox__infobox1 .infobox1__texts .infobox1__readmore {
    font-size: 14px;
  }
  .body .body__bestblogs .bestblogs__mainbox .mainbox__infobox2 .infobox2__infobox21 .infobox21__title {
    font-size: 20px;
  }
  .body .body__bestblogs .bestblogs__mainbox .mainbox__infobox2 .infobox2__infobox21 .infobox21__subtitle {
    font-size: 14px;
    height: 50px;
  }
  .body .body__bestblogs .bestblogs__mainbox .mainbox__infobox2 .infobox2__infobox21 .infobox21__readmore {
    font-size: 12px;
  }
}
@media screen and (max-width: 945px) {
  .body .body__giftsfor .giftsfor__items .giftsfor__item .giftsfor__img {
    width: 150px;
    height: 150px;
  }
  .body .body__bestblogs .bestblogs__mainbox .mainbox__infobox1 .infobox1__texts {
    padding-left: 50px;
  }
  .body .body__bestblogs .bestblogs__mainbox .mainbox__infobox1 .infobox1__texts .infobox1__name {
    margin-top: 30px;
  }
  .body .body__bestblogs .bestblogs__mainbox .mainbox__infobox1 .infobox1__texts .infobox1__title {
    height: 90px;
    width: auto;
    margin-right: 100px;
    margin-bottom: 20px;
  }
  .body .body__ready .ready__buttonbox a {
    font-size: 14px;
  }
}
@media (max-width: 925px) {
  .footer .footer__border .footer__menu .menu__left-link {
    margin-right: 50px !important;
  }
  .footer .footer__border .footer__menu .menu__right-link {
    margin-left: 50px !important;
  }

  .body .body__bestblogs .bestblogs__mainbox .mainbox__infobox2 .infobox2__infobox21 .infobox21__subtitle {
    height: 60px;
  }
  .body .body__bestblogs .bestblogs__mainbox .mainbox__infobox2 .infobox2__infobox21 .infobox21__readmore {
    margin-bottom: 30px;
  }

  .header .header__buttonbox a.header__link {
    font-size: 14px;
  }
}
@media (max-width: 800px) {
  .header .header__menu a.header__item {
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .header .header__buttonbox a.header__link {
    font-size: 12px;
    margin: auto;
  }

  .body .body__findgift .findgift-info .findgift-info__subtitle {
    margin-right: 70px;
  }
  .body .body__findgift .findgift-info .findgift-info__button {
    font-size: 12px;
  }
  .body .body__findgift .findgift__photo {
    height: 350px;
  }
  .body .body__howwork .howwork__photo {
    height: 300px;
  }
  .body .body__howwork .howwork__info {
    padding-left: 50px;
  }
  .body .body__howwork .howwork__info .howwork-info__title {
    font-size: 30px;
    margin-right: 30px;
  }
  .body .body__howwork .howwork__info .howwork-info__subtitle {
    font-size: 14px;
  }
  .body .body__howwork .howwork__info .howwork-info__button {
    font-size: 12px;
  }
  .body .body__ready .ready__textbox {
    font-size: 24px;
    height: 120px;
  }
  .body .body__ready .ready__buttonbox a {
    font-size: 10px;
  }
  .body .body__giftsfor .giftsfor-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 3%;
    padding-bottom: 30px;
  }
  .body .body__giftsfor .giftsfor-items .giftsfor__item .giftsfor__img {
    height: 200px;
    width: 200px;
  }
  .body .body__bestblogs .bestblogs__mainbox .mainbox__infobox2 .infobox2__infobox21 {
    padding-left: 20px;
  }
  .body .body__bestblogs .bestblogs__mainbox .mainbox__infobox2 .infobox2__infobox21 .infobox21__subtitle {
    margin-right: 20px;
  }

  .footer .footer__border .footer__menu .menu__left-link {
    margin-right: 20px !important;
  }
  .footer .footer__border .footer__menu .menu__left-link a.footer__link {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 10px;
  }
  .footer .footer__border .footer__menu .menu__right-link {
    margin-left: 20px !important;
  }
  .footer .footer__border .footer__menu .menu__right-link a.footer__link {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 10px;
  }
}
@media (max-width: 640px) {
  .header .header__logo {
    justify-self: center !important;
    padding-left: 0px !important;
  }
  .header .header__menu {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    justify-content: center;
  }
  .header .header__menu .header__item {
    background: #F1F1F2;
    border-radius: 5px;
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .header .header__menu .header__item:hover {
    background: #FFFFFF;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
  }
  .header .header__buttonbox a.header__link {
    padding-left: 10px;
    padding-right: 10px;
  }

  .body .body__findgift .findgift-info {
    padding-left: 25px;
  }
  .body .body__findgift .findgift-info .findgift-info__title {
    margin-bottom: 25px;
    margin-right: 25px;
    font-size: 20px;
  }
  .body .body__findgift .findgift-info .findgift-info__subtitle {
    margin-bottom: 25px;
    margin-right: 25px;
  }
  .body .body__findgift .findgift-info .findgift-info__button {
    font-size: 10px;
  }
  .body .body__findgift .findgift__photo {
    height: 300px;
  }
  .body .body__howwork .howwork__info {
    padding-left: 25px;
  }
  .body .body__howwork .howwork__info .howwork-info__title {
    font-size: 20px;
  }
  .body .body__howwork .howwork__info .howwork-info__subtitle {
    margin-bottom: 25px;
    margin-right: 20px;
  }
  .body .body__howwork .howwork__info .howwork-info__button {
    font-size: 10px;
  }
  .body .body__giftsfor .giftsfor__title {
    font-size: 25px;
  }
  .body .body__giftsfor .giftsfor__subtitle {
    font-size: 15px;
  }
  .body .body__giftsfor .giftsfor-items .giftsfor__item .giftsfor__img {
    width: 150px;
    height: 150px;
  }
  .body .body__giftsfor .giftsfor-items .giftsfor__item .giftsfor__textbox .giftsfor-items__type {
    margin-right: auto;
  }
  .body .body__ready {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .body .body__ready .ready__textbox {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .body .body__ready .ready__textbox .ready__text1 {
    margin-bottom: 5px;
  }
  .body .body__ready .ready__textbox .ready__text2 {
    margin-left: 0;
  }
  .body .body__ready .ready__buttonbox {
    margin-bottom: 30px;
  }
  .body .body__bestblogs .bestblogs__title {
    font-size: 25px;
  }
  .body .body__bestblogs .bestblogs__subtitle {
    font-size: 14px;
  }
  .body .body__bestblogs .bestblogs__mainbox .mainbox__infobox1 {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
  }
  .body .body__bestblogs .bestblogs__mainbox .mainbox__infobox1 .bestblogs__img {
    height: 250px;
  }
  .body .body__bestblogs .bestblogs__mainbox .mainbox__infobox1 .infobox1__texts .infobox1__title {
    margin-right: 40px;
  }
  .body .body__bestblogs .bestblogs__mainbox .mainbox__infobox2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 5%;
  }
  .body .body__bestblogs .bestblogs__mainbox .mainbox__infobox2 .infobox2__infobox21 {
    padding-left: 30px;
  }
  .body .body__bestblogs .bestblogs__mainbox .mainbox__infobox2 .infobox2__infobox21 .infobox21__subtitle {
    padding-right: 50px;
  }
}
@media (max-width: 425px) {
  .header .header__buttonbox a.header__link {
    font-size: 10px;
    padding: 3px 3px 3px 3px;
  }

  .body .body__findgift {
    display: flex;
    flex-direction: column-reverse;
  }
  .body .body__findgift .findgift-info .findgift-info__title {
    margin-top: 30px;
    margin-right: 130px;
    font-size: 25px;
  }
  .body .body__findgift .findgift-info .findgift-info__subtitle {
    margin-right: 90px;
  }
  .body .body__findgift .findgift-info .findgift-info__button {
    margin-bottom: 30px;
  }
  .body .body__findgift .findgift__photo {
    height: 200px;
  }
  .body .body__howwork {
    display: flex;
    flex-direction: column;
  }
  .body .body__howwork .howwork__photo {
    height: 200px;
  }
  .body .body__howwork .howwork__info .howwork-info__title {
    margin-top: 30px;
    font-size: 25px;
  }
  .body .body__howwork .howwork__info .howwork-info__subtitle {
    margin-right: 90px;
  }
  .body .body__howwork .howwork__info .howwork-info__button {
    margin-bottom: 30px;
  }
  .body .body__giftsfor .giftsfor__subtitle {
    margin-left: 10px;
    margin-right: 10px;
  }
  .body .body__giftsfor .giftsfor-items .giftsfor__item {
    margin-left: 5px;
    margin-right: 5px;
  }
  .body .body__giftsfor .giftsfor-items .giftsfor__item .giftsfor__img {
    width: 130px;
    height: 130px;
  }
  .body .body__giftsfor .giftsfor-items .giftsfor__item .giftsfor__textbox {
    margin-left: -10px;
  }
  .body .body__giftsfor .giftsfor-items .giftsfor__item .giftsfor__textbox .giftsfor-items__type {
    font-size: 12px;
  }
  .body .body__giftsfor .giftsfor-items .giftsfor__item .giftsfor__textbox .giftsfor-items__seemore {
    font-size: 12px;
  }
  .body .body__bestblogs .bestblogs__mainbox .mainbox__infobox1 .infobox1__texts {
    padding-left: 20px;
  }

  .footer .footer__social img.footer__socialimage {
    width: 20px;
    height: 20px;
    margin-left: -10px;
    margin-right: -10px;
  }
  .footer .footer__privacybox {
    font-size: 12px;
    margin-bottom: 10px !important;
  }
}